/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.rule-summary {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.rule-number {
  font-weight: bold;
  margin-right: 5px;
}

.rule-name-input {
  border: none;
  background: transparent;
  font-size: 1em;
  font-weight: bold;
  width: 200px;
}

.rule-name-input:focus {
  outline: none;
  border-bottom: 1px solid var(--text-accent);
}

.rule-name-input.disabled {
  color: var(--text-muted);
  text-decoration: line-through;
}
